
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    /* position: absolute; */
    width: 1440px;
    height: 1588px;
    background-color: #151515;
}

header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 164px;
    background-color: #242424;
    margin: 0;
    padding: 0;  
}
.fa-location-dot{
  width: 10px;
  height: 15.85px;
  margin-top: 39.09px;
  margin-left: 107px;
  color: #949494;
}
.head-span{
    color: #949494;
    font-family: Roboto Condensed;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.23px;
    letter-spacing: 11.5%;
    text-align: center;
}
.location-text{
    width: 162px;
    height: 24px;
    margin-top: 32px;
    margin-left: 10px;
}
.fri{
    width: 101px;
    height: 24px;
    margin-top: 32px;
    margin-left: 800px;
}
.fa-solid{
    width: 22px;
    height: 17.96px;
    margin-top: 38.04px;
    /* margin-left: 79px; */
    color: #949494;
}
.sat{
    width: 101px;
    height: 24px;
    margin-top: 32px;
    margin-left: 20px;
}
.logo{
    width: 206px;
    height: 57px;
    margin-left: 95px;
    margin-top: 14px;
   
}
.icon{
    position: relative;
    width: 100%;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
nav{
    /* margin-left: 244px; */
    margin-top: 42px;
}
nav ul{
  display: flex;
  justify-content: space-around;
}
nav ul li{
    list-style: none;
    font-family: Josefin Sans;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff; 
}

.l1{
    margin-left: 244px;
}
.l2{
    margin-left: 51px;
}
.l3{
    margin-left: 25px;
}
.l4{
    margin-left: 40px;
}
.l5{
    margin-left: 40px;
}
.l6{
    margin-left: 20px;
    margin-right: 60px;
}
nav ul li a:hover{
    border-bottom: 4px solid #FFD600;
    border-top:0 ;
    outline: none;
    color: #FFD600;
}
nav ul li a:focus{
    border-bottom: 4px solid #FFD600;
    border-top:0 ;
    outline: none;
    color: #FFD600;
}
.section1{
    width: 1440px;
    height: 560px;
    background-image: url(./assets/Rectangle\ 3\ \(3\).png);
    display: flex;
    position: relative;
}
.section1-text{
    width: 676px;
    height: 39.67px;
    font-family: Roboto Condensed;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    justify-items: center;
    align-content: center;
    text-align: center;
    color: #FFFEFE;
    position: absolute;
    margin-left: 386px;
    margin-top: 250px;
}
.section2{
    width: 1440px;
    height: 1008px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 1fr;
}
.grid1{
    background-color: #FFDF34;
    position: relative;
}
.grid2{
    background-color: #060606;
    position: relative;
}
.top-pick{
    width: 512px;
    height: 44px;
    margin-left: 106px;
    align-items: center;
    text-align: center;
    color: #000000;
    font-family: Roboto Condensed;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    position: absolute;
    margin-top: 60px;
}
.top-pick-border{
    content: ' ';
    width: 107px;
    border-bottom: 4px solid #000000;
    position: absolute;
    bottom: 890px;
    left: 308px;
    align-items: center;
}
.media{
    width: 455px;
    height: 69px;
    margin-left: 134px;
    color: #010101;
    position: absolute;
    margin-top: 150px;
}
.media pre{
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.16px;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
}
.location{
    width: 30px;
    height: 36.67px;
    margin-left: 335px;
    color: #010101;
    position: absolute;
    top: 250px;
}
.address{
    width: 455px;
    height: 69px;
    margin-left: 134px;
    color: #000000;
    position: absolute;
    top: 300px;
}
.address pre{
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.16px;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
}
.clock{
    width: 48px;
    height: 48px;
    margin-left: 326px;
    color: #010101;
    position: absolute;
    top: 400px;
}
.clock-text{
    width: 455px;
    height: 69px;
    margin-left: 134px;
    color: #010101;
    position: absolute;
    top: 470px;
}
.clock-text pre{
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.16px;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
}
.call{
    width: 455px;
    height: 69px;
    margin-left: 134px;
    color: #010101;
    position: absolute;
    top: 600px;
}
.call pre{
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.16px;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
}
.icon-address{
    width: 246px;
    height: 30px;
    margin-left: 229px;
    color: #010101;
    position: absolute;
    top: 700px;
    display: flex;
    justify-content: space-between;
}
.send{
    width: 512px;
    height: 44px;
    margin-left: 106px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-family: Roboto Condensed;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    position: absolute;
    margin-top: 60px;
}
.send-border{
    content: ' ';
    width: 107px;
    border-bottom: 4px solid #FFDF34;
    position: absolute;
    bottom: 890px;
    left: 308px;
    align-items: center;
}
.do-you{
    width: 455px;
    height: 69px;
    margin-left: 134px;
    color: #EDEDED;
    position: absolute;
    margin-top: 150px;
}
.do-you pre{
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.16px;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
}
form{
    color:#C0BBBB;
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.16px;
    /* display: flex; */
}
form .fname{
    display: flex;
}
form .sub input{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 34.14px;
    text-align: center;
}

footer{
    display: grid;
    grid-template-rows: 1fr, 1fr;
    width: 1440px;
    height: 404px;
    background-color: #000000;
    position: relative;
}
.grid5{
    width: 1104px;
    display: grid;
    grid-template-rows: repeat(1, 300px);
    grid-template-columns: repeat(4, 1fr);
    margin-left: 192px;
    margin-top: 50px;
    position: absolute;
}
.quick{
    width: 188px;
    height: 19px;
    font-family: Roboto Condensed;
    font-weight: 700;
    font-size: 20px;
    line-height: 28.44px;
    color: #FFFFFF;
    list-style: none;
    margin-bottom: 30px;
    margin-left: 28px;
}
.list1 ul li a{
    text-decoration: none;
    color: #ffffff; 
}
.list1 ul li{
    list-style: none;
    font-family: Roboto;
    width: 188px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.cat{
    width: 128px;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 34.14px;
}
.cont-us{
   margin-left: 0; 
}
.list1 div pre{
    font-family: Roboto;
    font-weight: 300;
    font-size: 20px;
    line-height: 35.74px;
    color: #FFFFFF;
}
.list1 div p{
    font-family: Roboto;
    font-weight: 300;
    font-size: 20px;
    line-height: 27.54px;
    color: #FFFFFF;
}
.list1 div a{
    text-decoration: none;
    color: #ffffff; 
    font-family: Roboto;
    font-weight: 300;
    font-size: 20px;
    line-height: 17.44px;
}
.keep-in-touch{
    display: flex;
    margin-left: 30px;
}
.follow{
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 34.14px;
    color: #FFFFFF;
    width: 152px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
}
.foot-icon{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.foot-icon span img{
    display: block;
}
.copyright{
    position: absolute;
    bottom: 70px;
    right: 200px;
    display: flex;
    justify-content: space-between;
    height: 25px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 17.44px;
    color: #FFFFFF;
}
.copyright a{
    margin-left: 30px;
}